{{#each posts as |post|}}
<section class="card">
  <a href="/post/add-comment/{{id}}">
    <div>
      <header>{{title}}</header>
      <p>Posted by {{user.username}} on {{date_created}}
      </div>
      <p>{{content}}</p>
  </a>
</section>
{{/each}}